{% extends 'base.html.twig' %}
{% block title %}Hello BlogHomeController!{% endblock %}

{% block menu %}
     {{ include('menu.twig', { 'backgroundColor': 'violet' }) }}
 {% endblock  %}

{% block body %}


<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12 col-lg-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">



            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome</h3>
              {% if error %}
                    <div class="row alert alert-danger" > {{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}
            <form action="{{ path('login') }}" method="post">
                <div class="form-label-group">
<input type="text" id="username" name="_username"  class="form-control" value="{{ last_username }}"/>
                  <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="password" class="form-control" id="password" name="_password"/>
                    <label for="inputPassword">Password</label>
                </div>


                <button   class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">login</button>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
