{% extends 'base.html.twig' %}

{% block title %}Hello BlogHomeController!{% endblock %}

{% block menu %}
     {{ include('menu.twig', { 'backgroundColor': 'violet' }) }}
 {% endblock  %}


{% block body %}


    <div class="container">
<h1>Home Admin Page </h1>



    </div>
{% endblock %}
